doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Bootstrap, from Twitter
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    style(type='text/css').
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
      }
      #menu {
        width: 60%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .container {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .nav-item {
        margin-left: 10px;
      }
  body
    div(class="container")
      nav(id="menu", class="navbar navbar-expand-lg navbar-light bg-light")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item btn btn-link")
              a(href="/jobs") jobs
            li(class="nav-item btn btn-link")
              a(href="/jobs/history") history
      //- div(id="menu")
      //-   span(class="alert alert-primary")
      //-     a(href="../jobs") jobs
      //-   span(class="alert alert-primary")
      //-     a(href="../jobs/history") history
      div(id="content")
        form(action="/jobs/history/purge", method="post")
          input(type="submit" value="Purge")
          input(type="button" value="Refresh", onclick="location.reload();")
        div
          h1  Done:
          - var ran = done;
          ul(class="list-group")
            each dn in ran
              li(class="list-group-item")
                span(class="col")
                  a(href=`../logs/${dn}`) #{dn}
                span(class="col") modified at: #{parser(dn)}